
ul {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    width: 160px;
    height: 32px;
    left: 24px;
    position: relative;
}

    ul li:nth-child(1):after {
        position: absolute;
        content: "▼";
        right: 10px;
        top: 10px;
        font-size: 12px;
        opacity: .75;
    }
